html{
    box-sizing: border-box;
}
*, *::after, *::before{
    box-sizing: inherit;
}
body{
    font-family: 'Quicksand', sans-serif;
    font-size: 27px;
    line-height: 34px;
    background-color: #040010;
    font-weight: 400;
    color: #fff;
    min-width: 320px;
    overflow-x: hidden;
}
button{
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
a{
    text-decoration: none;
}
.container {
    max-width: 1395px;
    padding: 0 15px;
    margin: 0 auto;
}
.header{
    position: fixed;
    left: 0;
    right: 0;
    background-color: #040010;
    z-index: 10;
    top: 0;
}
.header__inner{
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.menu-list{
    display: flex;
    justify-content: space-between;
}
.header__contact{
    max-width: 595px;
    display: flex;
    justify-content: space-between;
}
.menu-list__item + .menu-list__item{
    margin-left: 30px;
}
.menu-list__item a{
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    transition: all .3s;
}
.menu-list__item a:hover{
    color: #F22F54;
    border-bottom: 1px dashed #FFF;
}
.menu-list__item--active a{
    color: #F22F54;
    border-bottom: 1px dashed #FFF;
}
.header__btn button{
    font-size: 13px;
    color: #FFFFFF;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    transition: all .3s;
}
.header__btn button:hover{
    background-color: #F22F54;

}
.header__btn button{
    padding: 15px 25px;
    border: 2px solid #F22F54;
    border-radius: 25px;
}
.header__btn{
    margin-left: 50px;
}
.header__burg{
    display: none;
}
.header__burg.header__burg--active{
    width: 32px;
    height: 32px;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    margin: 0 20px 0 auto;
    display: none;
}

.header__burg-item,
.header__burg-smallitem{
    width: 24px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 5px;
}
.header__burg-smallitem{
    width: 20px;
}
.header__close{
    width: 32px;
    height: 32px;
    margin: 0 20px 0 auto;
    cursor: pointer;
    position: relative;
    display: none;
    border-radius: 50%;
}
.header__close.header__close--active{
    display: none;
}
.header__close::after,
.header__close::before{
    content: "";
    width: 32px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    transform-origin: left;
}
.header__close::after{
    transform: rotate(45deg);
}
.header__close::before{
    transform: rotate(-45deg);
    bottom: 7px;
}
.group-first{
    background-image: url(../images/Group1.png);
    background-position: top center;

}
.top{
    background-image: url(../images/Group\ 2700.png);
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: 100px;
    
}
.top__inner{

    text-align: center;
    padding: 50px 0 100px 0;
    
}
.top__title{
    font-weight: 400;
    max-width: 650px;
    margin: 0 auto;
    font-size: 54px;
    line-height: 70px;
    margin-bottom: 25px;
}
.top__title span,
.top__text span{
    font-weight: bold;
    color: #F22F54;
}
.top__text{
    max-width: 785px;
    margin: 0 auto;
}
.description__inner{
    display: flex;
    justify-content: space-between;
}
.description__info{
    padding-top: 40px;
    padding-bottom: 15px;
    max-width: 636px;
}
.description__suptitle{
    font-size: 26px;
    line-height: 34px;
    color: #F22F54;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.description__title{
    font-size: 46px;
    line-height: 70px;
    margin-top: -15px;
    margin-bottom: 35px;
    font-family: 'Roboto', sans-serif;
}
.description__text span{
    color: #F22F54;
}
.description__text-bold{
    font-weight: bold;
}
.description__text span.description__text-bg{
    color: #fff;
    background-color: #3E0C24;
    border-radius: 5px;
}
.description__text-sup{
    font-size: 20px;
    line-height: 26px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    color: #A8A7AC;
}
.description__text-sup span{
    color: #F22F54;
}
.description__img{
    padding-top: 10px;
}
.boxes{
    padding-top: 110px;
    background-image: url(../images/Group2.png);
    background-position: center;
}
.boxes__title{
    font-size: 49px;
    line-height: 59px;
    margin-right: 50px;
}
.boxes__title span{
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    
}
.boxes__title-bg{
    font-size: 93px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    opacity: 7%;
    padding-left: 15px;
    text-align: left;
}

.boxes__inner-item{
    background-color: rgba(14, 10, 75, .24);
    border-radius: 20px;
    max-width: 1115px;
    padding: 35px 0 64px 40px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
}
.boxes__title-box{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: -27px;

}
.boxes__title-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}
.boxes__title-block + .boxes__title-block{
    margin-left: 45px;

}
.boxes__title-percent{
    font-size: 47px;
    line-height: 57px;
    font-weight: 900;
}
.boxes__title-text{
    font-size: 14px;
    line-height: 18px;
    opacity: 60%;
    font-weight: 600;
    max-width: 100px;
}
.boxes__inner-supprice{
    text-align: left;
    font-size: 20px;
    line-height: 24px;
    color: #F22F54;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: 23px;

}
.boxes__inner-price{
    text-align: left;
    font-size: 74px;
    line-height: 91px;
    letter-spacing: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 45px;
}
.boxes__inner-price span{
    color: #F22F54;
    font-size: 37px;
    font-weight: 900;
    letter-spacing: normal;
}
.boxes__inner-filled{
    display: flex;
    justify-content: space-between;
}
.boxes__inner-img{
    margin-right: -22px;
}


.benefits{
    background-image: url(../images/Group3.png);
}
.benefits__inner{
    text-align: center;
}
.benefits__title-bg,
.benefits__title{
    max-width: 425px;
    margin: 0 auto;
}
.benefits__title-bg{
    font-family: 'Montserrat', sans-serif;
    font-size: 89px;
    line-height: 108px;
    font-weight: 900;
    color: #1A1725;
    color: #fff;
    opacity: 5%;
}
.benefits__title{
    font-size: 46px;
    margin-top: -80px;
    font-family: 'Roboto', sans-serif;
}
.benefits__title span{
    font-size: 26px;
    line-height: 34px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    color: #F22F54;
}
.benefits__items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 43px;
}
.benefits__item + .benefits__item{
    margin-left: 60px;

}
.benefits__item:nth-child(4){
    margin-left: 0;
}
.benefits__item{
    max-width: 330px;
    width: 100%;
    background-color: rgba(14, 10, 75, .24);
    margin-bottom: 40px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    border-radius: 5px;

}
.benefits__item-title{
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}
.benefits__item-img{
    margin-bottom: 37px;
    margin-top: 45px;
}
.benefits__item-text{
    font-size: 16px;
    line-height: 24px;
    max-width: 277px;
    padding-bottom: 30px;
    margin: 0 auto;
}
.footer{
    background-image: url(../images/Group\ 6628.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 530px 612px;
    padding-bottom: 200px;
 
}
.footer__suptitle{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    line-height: 34px;
    font-size: 26px;
    color: #F22F54;

}
.footer__title{
    font-family: 'Roboto', sans-serif;
    font-size: 46px;
    margin-bottom: 20px;
}
.footer__title span{
    color: #F22F54;

}
.footer__text{
    max-width: 894px;
    width: 100%;
    margin-bottom: 30px;

}
.footer__btn{
    margin-bottom: 80px;


}
.footer__btn button{
    font-size: 17px;
    color: #F22F54;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    transition: all .3s;
    background-color: #fff;
    padding: 20px 52px 20px 80px;
    border: 3px solid #F22F54;
    border-radius: 25px;
    position: relative;
}
.footer__btn button::before{
    content: "";
    position: absolute;
    background-image: url(../images/Telegram.png);
    width: 43px;
    background-position: center;
    background-repeat: no-repeat;
    height: 46px;
    left: 7px;
    top: 12px;
}
.footer__btn button:hover{
    background-color: #F22F54;
    color: #fff;

}

.footer__copy{
    font-size: 20px;
    line-height: 23px;
    font-family: 'Roboto', sans-serif;
    opacity: 10%;
    padding-bottom: 10px;

}
@media (max-width: 1140px){
    .benefits__item:nth-child(4){
        margin-left: 60px;
    }
    .benefits__item{
        margin-left: 60px;
    }

}
@media (max-width: 1135px){
    .boxes__inner-line img{
        width: 95%;
    }
    .boxes__inner-item{
        max-width: 95%;
    }
    .boxes__title-bg{
        font-size: 70px;
    }
    .boxes__title {
        font-size: 36px;
        line-height: 50px;
    }
    .boxes__inner-price {
        font-size: 60px;
        line-height: 75px;
        letter-spacing: 5px;
    }

}
@media (max-width: 980px){
    .boxes__title-bg{
        font-size: 50px;
    }
    .boxes__title,
    .boxes__title-percent {
        font-size: 30px;
        line-height: 40px;
    }
    .boxes__inner-price {
        font-size: 60px;
        line-height: 75px;
        letter-spacing: 5px;
    }
    .boxes__title-text {
        font-size: 12px;
        line-height: 15px;
        max-width: 90px;
    }
    .boxes__inner-price {
        font-size: 45px;
        line-height: 58px;
    }
    .benefits__item:nth-child(4){
        margin-left: 0;
    }
    .benefits__item{
        margin-left: 0;
    }
    .benefits__item + .benefits__item {
        margin-left: 0;
    }
    .benefits__items {
        justify-content: space-around;
    }

}
@media (max-width: 900px){
    .top__inner {
        padding-bottom: 30px;
    }
    .description__img img{
        display: none;
    }
    .header__burg{
        display: none;
    }
    .header__burg.header__burg--active{
        display: block;
    }
    .header__close{
        display: none;

    }
    .header__close.header__close--active{
        display: block;
    }
    .header__contact{
        position: absolute;
        background-color: #040010;
        z-index: 15;
        width: 340px;
        display: block; 
        /* display: none; */
        top: 0;
        padding-left: 30px;
        height: 100vh;
        left: -150%;
        transition: all .5s;
    }
    .header__btn button {
        padding: 10px 20px;
    }
    .header__btn {
        margin-left: 0;
    }
    .menu-list__item + .menu-list__item {
        margin-left: 0;
    }
    .menu-list{
        flex-direction: column;
        padding-top: 50px;
        margin-bottom: 15px;
    }
    .menu-list__item{
        max-width: 250px;
        padding-bottom: 5px;
        border-bottom: 1px solid #A8A7AC;
    }
    .menu-list__item a:hover{
        border-bottom: none;
    }
    .menu-list__item--active a{
        color: #F22F54;
        border-bottom: none;
    }
    .header__contact.header__contact--active{
        /* display: block; */
        left: 0;
    }
    

}
@media (max-width: 820px){
    .boxes__inner-img img{
        width: 200px;
    }
    .boxes__inner-img{
        margin-right: -21px;
    }
    .boxes__inner-item {
        padding-right: 5px;
    }
}
@media (max-width: 730px){
    .boxes__title-bg{
        font-size: 35px;
    }
    .boxes__title,
    .boxes__title-percent {
        font-size: 23px;
        line-height: 40px;
    }
    .boxes__title{
        margin-right: 30px;

    }
   .boxes__inner-price {
        font-size: 32px;
        letter-spacing: 4px;
    }
    .boxes__inner-price span {
        font-size: 23px;
        margin-left: -14px;
    }
    .boxes {
        padding-top: 60px;
    }
    .boxes__title-block + .boxes__title-block{
        margin-left: 25px;
    }
    .benefits__items {
        flex-direction: column;
        align-items: center;
    }
    

}

@media (max-width: 520px){
    .top__brend img{
        width: 350px;
    }
    .top__title,
    .benefits__title,
    .footer__title {
        font-size: 44px;
        line-height: 55px;
    }
    .top__text,
    .description__text,
    .footer__text {
        font-size: 24px;
    }
    .description__title{
        font-size: 44px;
    }
    .boxes__title-box {
        flex-direction: column;
    }   
    .boxes__title-block + .boxes__title-block{
        margin-left: 0;
    } 
    .boxes__title{
        margin-right: 0;
    }
    .boxes__inner-line img {
        min-height: 30px;
    }
    .boxes__inner-filled {
        flex-direction: column;
    }
    .boxes__inner-img img {
        width: 150px;
    }
    .boxes__inner-img {
        margin-right: -17px;
        text-align: right;
        margin-top: -50px;
    }
    .benefits__title-bg {
        font-size: 75px;
    }
    .footer__copy {
        font-size: 17px;
    }
    .menu-list__item {
        max-width: 215px;
    }
    .header__contact {
        position: absolute;
        background-color: #040010;
        z-index: 15;
        width: 320px;
    }
    .header__close{
        z-index: 20;
    }
}
@media (max-width: 390px){
    .benefits__title-bg {
        font-size: 60px;
    }

}
@media (max-width: 380px){
    .top__brend img{
        width: 290px;
    }
    .top__title,
    .description__title,
    .benefits__title,
    .footer__title {
        font-size: 40px;
        line-height: 50px;
    }
    .top__text,
    .description__text,
    .footer__text{
        font-size: 20px;
    }
    .footer__copy {
        font-size: 16px;
    }
    .description__title {
        padding-top: 5px;
    }
    .description__text-sup {
        font-size: 14px;
        line-height: 20px;
    }

}
@media (max-width: 360px){
    .boxes__inner-price {
        font-size: 27px;
        letter-spacing: 1px;
    }
    .boxes__inner-price span {
        font-size: 17px;
        margin-left: -6px;
    }
    .boxes__inner-supprice {
        font-size: 16px;
    }
    .boxes__inner-item {
        margin: 0 0 40px 0;
    }
    .benefits__item {
        width: 300px;
        padding: 5px;
    }
    .benefits__item-text {
        font-size: 14px;
        line-height: 22px;
        max-width: 265px;
    }
    .benefits__item-title {
        font-size: 20px;
    }
    .benefits__item {
        width: 270px;
        padding: 5px;
    }
    .benefits__items {
        margin-left: -22px;
    }
}